.profile-page {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 10rem;

  section {
    h2 {
      font-family: var(--jedi-font), sans-serif;
      margin-bottom: 2rem;
      color: var(--color-red);
    }
  }
}