.catalog {
  margin-top: 2rem;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 4rem;
  }

  &__bg {
    position: fixed;
    z-index: -1;
    inset: 0;
    left: -25dvw;
    background: url("/img/catalog_bg.png") repeat-y;
    animation-name: scrollBg;
    animation-duration: auto;
    animation-timing-function: linear;
    animation-timeline: scroll();
  }
}

@keyframes scrollBg {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -350dvh;
  }
}