.header {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  padding-block: 2rem;
  padding-inline: 3rem;

  &__actives {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    gap: 1rem;
  }

  &__title {
    font-family: var(--jedi-font), sans-serif;
    font-weight: normal;
    font-size: 1.875rem;
  }

  &__nav {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
  }

  &__profile {
    font-size: 1rem;
  }
}