.history-section {
  &__list {
    border-radius: 8px;
    overflow: hidden;
  }

  &__pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}

.item {
  &:nth-child(even) {
    background-color: rgba(226, 50, 57, 0.3);
  }
}