.cart-items {
  &__empty {
    width: 100%;
    text-align: center;
    margin-top: 15%;
    transform: translateY(-15%);
    font-size: 3rem;
    font-weight: bold;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2rem;
  }
}

.top {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}